/* line 1, ../../Documentos/novo-site-geec2/sass/_header.scss */
.header-menu {
  height: 410px;
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #8bc6ec;
  background-image: url("../foto.png");
  background-image: url("../foto.png"), linear-gradient(135deg, #8bc6ec 0%, #2d37f8 100%) center no-repeat;
  background-size: auto;
  z-index: 1;
}

/* line 18, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar {
  width: 100%;
  display: block;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

/* line 24, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar .images {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

/* line 30, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar .images .imagem-logo {
  height: 200px;
  width: 300px;
}

/* line 34, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar .images .imagem-menina {
  height: 425px;
  width: 450px;
}

/* line 39, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul {
  text-transform: uppercase;
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

/* line 48, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li {
  text-align: center;
}

/* line 50, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 64px;
  padding: 0 15px;
  display: block;
  position: relative;
  margin: 10px 10px 5px;
}

/* line 62, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-1 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #E74C3C;
}

/* line 71, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-2 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #2ECC71;
}

/* line 79, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-3 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #E8C900;
}

/* line 87, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-4 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #59C1EA;
}

/* line 95, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-5 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #6B994A;
}

/* line 103, ../../Documentos/novo-site-geec2/sass/_header.scss */
.sidebar ul li .nav-item-6 {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  height: 24px;
  background: #0085D3;
}

/* line 115, ../../Documentos/novo-site-geec2/sass/_header.scss */
.hamburguer {
  display: none;
}

/* line 118, ../../Documentos/novo-site-geec2/sass/_header.scss */
.hamburguer i {
  font-size: 3rem;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 124, ../../Documentos/novo-site-geec2/sass/_header.scss */
.hamburguer .fa-times {
  display: none;
}

/* line 1, ../../Documentos/novo-site-geec2/sass/_home.scss */
.content-home {
  padding: 0 15px;
  margin: 0 auto;
}

/* line 4, ../../Documentos/novo-site-geec2/sass/_home.scss */
.content-home > h1 {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  font-size: 63px;
  font-weight: bold;
  line-height: 158.34%;
  text-align: start;
  margin-left: 110px;
  color: #C9FF00;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: #85DA77;
}

/* line 19, ../../Documentos/novo-site-geec2/sass/_home.scss */
.content-home > h1 span {
  text-transform: uppercase;
  color: #00A1ED;
}

/* line 25, ../../Documentos/novo-site-geec2/sass/_home.scss */
.content-home section {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 34, ../../Documentos/novo-site-geec2/sass/_home.scss */
.content-home section p {
  color: #707070;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */