/* line 4, ../../Imagens/geec/css/grid.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-1 {
  width: 100pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-2 {
  width: 220pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-3 {
  width: 340pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-4 {
  width: 460pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-5 {
  width: 580pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-6 {
  width: 700pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-7 {
  width: 820pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-8 {
  width: 940pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-9 {
  width: 1060pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-10 {
  width: 1180pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-11 {
  width: 1300pxpx;
}

/* line 11, ../../Imagens/geec/css/grid.scss */
.grid-12 {
  width: 1420pxpx;
}

/* line 17, ../../Imagens/geec/css/grid.scss */
.container {
  width: 1440pxpx;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

/* line 23, ../../Imagens/geec/css/grid.scss */
.container:after, .container:before {
  content: " ";
  display: table;
}

/* line 27, ../../Imagens/geec/css/grid.scss */
.container:after {
  clear: both;
}

@media only screen and (min-width: 768px) and (max-width: 959) {
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-1 {
    width: 44pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-2 {
    width: 108pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-3 {
    width: 172pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-4 {
    width: 236pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-5 {
    width: 300pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-6 {
    width: 364pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-7 {
    width: 428pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-8 {
    width: 492pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-9 {
    width: 556pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-10 {
    width: 620pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-11 {
    width: 684pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
  /* line 38, ../../Imagens/geec/css/grid.scss */
  .grid-12 {
    width: 748pxpx;
  }
  /* line 41, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 768pxpx;
  }
}

@media only screen and (max-width: 767px) {
  /* line 48, ../../Imagens/geec/css/grid.scss */
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 300pxpx;
    margin: 0 0 20px 0;
    float: none;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
  /* line 59, ../../Imagens/geec/css/grid.scss */
  .container {
    width: 300pxpx;
  }
}

/*# sourceMappingURL=grid.css.map */